.order-first {
    order: 1;
}

.order-last {
    order: 13;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
